.semBorda {
	background-color: transparent !important;
    border: none !important;
}


.semPadding {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.ui-growl{
	padding-top: 15% !important;
}

.ui-blockui-content {
    top: 0px !important;
}

.circulo {
	display: block;
    float: left;
    padding: 12.5%;
    height: auto;
    border-radius: 50%;
    border-radius: 50%;
    background: red;
    text-align: center;
}

.row {
	margin-bottom: -11px !important;;
}

.textoCenter {
	text-align: center;
}

.form-group {
	margin-bottom: 12px !important;	
}

/*Para que os Label dos checkboxs fiquem ao lado mesmo quando o texto for grande*/
label {
	display: inline !important;
}

body {
    background-color: lightgreen;
}

@media only screen and (max-width: 992px) {
    body {
        background-color: lightblue;
    }
    
	.navbar-brand {
	    float: left;
	    height: 50px;
	    padding: 15px 15px;
	    font-size: 14px !important;
	    line-height: 20px;
	}    
}


@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
    
	.navbar-brand {
	    float: left;
	    height: 50px;
	    padding: 15px 15px;
	    font-size: 10px !important;
	    line-height: 20px;
	}    
}


@media only screen and (max-width: 400px) {
    body {
        background-color: lightblue;
    }
    
	.navbar-brand {
	    float: left;
	    height: 50px;
	    padding: 15px 15px;
	    font-size: 7px !important;
	    line-height: 20px;
	}    
}


